:root {
  --main-width: 50em;

  --basic-box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);

  /*--basic-box-background: color-mix(in srgb, lightblue, transparent 50%);*/
  --basic-box-background: color-mix(in srgb, darkblue, transparent 90%);

  --popout-border: none;

  --indent-border-left: 0.5em solid black;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;

  font-family: "Spectral", serif;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: calc(1000px)) {
    font-size: 12pt;
  }
  @media (max-width: calc(1000px - 1px)) {
    font-size: 20pt;
  }
}

main {
  flex: 1 1 auto;
  margin: 1em auto;

  background: color-mix(in srgb, #f6eee3, transparent 10%);

  @media (min-width: calc(1000px)) {
    width: var(--main-width);
  }
  @media (max-width: calc(1000px - 1px)) {
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
}

a {
  display: inline;

  color: inherit;
  /*background: color-mix(in hsl, #f28500, transparent 50%);*/
  background: color-mix(in hsl, black, transparent 90%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  & > .favicon {
    /*align-self: center;*/
    margin-right: 0.2em;
    margin-bottom: -0.2em;
  }

  & > .name {
    align-self: baseline;
  }
}

p {
  margin: 0.5em 0;
}

main p > img {
  width: calc(100% + 2em);
  margin-left: -1em;
}

pre {
  padding: 0;
  width: 100%;
  margin-left: -1em;
  margin-right: -1em;

  font-size: 1em;

  & > code {
    max-height: 40em;
    margin: 0;
    padding: 1em;
    font-size: 0.9em;
    width: calc(100% + 2em);
    white-space: no-wrap;
    font-family: "Fira Code", monospace;
    overflow: visible;
  }
}

blockquote {
  margin-block-end: 1em;
  margin-block-start: 1em;
  padding: 0.5em 1em;
  background: var(--basic-box-background);
  border-left: var(--indent-border-left);
}

ol,
ul {
  margin-left: 0.5em;
  /*margin-block-end: 1em;*/
  /*margin-block-start: 1em;*/
  padding-inline-start: 1.3em;
}

table {
  border-collapse: collapse;

  thead {
    background: color-mix(in hsl, black, transparent 90%);
  }

  /*tbody {
  }*/

  th {
    padding: 0.5rem;
    background: var(--basic-box-background);
  }

  td {
    padding: 0.5rem;
    background: var(--basic-box-background);
  }
}
