:root {
  @media (width >= 1000px) {
    --body-font-size: 12pt;
  }
  @media (width < 1000px) {
    --body-font-size: 24pt;
  }

  @media (width >= 1000px) {
    --main-width: 890px;
  }
  @media (width < 1000px) {
    --main-width: 100vw;
  }

  @media (width >= 1000px) {
    --main-inner-width: 500px;
  }
  @media (width < 1000px) {
    --main-inner-width: 100%;
  }

  --gutter-width: calc(var(--main-width) - var(--main-inner-width));
  --gutter-padding-left: 1em;

  --main-padding: 1em;

  --basic-box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);

  /*--basic-box-background: color-mix(in srgb, lightblue, transparent 50%);*/
  --basic-box-background: color-mix(in srgb, rgb(17, 44, 69), transparent 90%);

  --popout-border: none;

  --indent-border-left: 0.5em solid rgb(17, 44, 69);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;

  font-family: "Spectral", serif;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;

  display: flex;
  flex-direction: column;

  font-size: var(--body-font-size);
}

main {
  flex: 1 1 auto;
  margin: 1em auto;
  padding: var(--main-padding);
  z-index: 0;

  background: color-mix(in srgb, #f6eee3, transparent 10%);

  width: var(--main-width);
}

a {
  display: inline;

  color: inherit;
  /*background: color-mix(in hsl, #f28500, transparent 50%);*/
  background: color-mix(in hsl, darkblue, transparent 90%);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  & > .favicon {
    /*align-self: center;*/
    margin-right: 0.2em;
    margin-bottom: -0.2em;
    background: white;
  }

  & > .name {
    align-self: baseline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;

  & > a {
    background: transparent;
  }
}

p {
  margin: 0.5em 0;
}

main p > img {
  width: calc(100% + 2em);
  margin-left: -1em;
}

code {
  font-size: 0.9em;
  font-family: "Fira Code", monospace;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: rgba(0, 0, 0, 0.1);
}

div.sourceCode {
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-left: calc(-1 * var(--main-padding));
  margin-right: calc(-1 * var(--main-padding));
  width: calc(var(--main-inner-width) + 2 * var(--main-padding));
  overflow: auto;
  max-height: 15em;

  & > pre {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 1em;

    & > code {
      background: transparent;
    }
  }
}

/* TODO: how to properly get blocks like this to be full-width even in articles where you have the cutsom logic that shrinks everything to be the same widtgh at hte top level childrten of main so that it doesnt overlap with the sidenote margin area? */
blockquote {
  margin: 0;
  margin-block-end: 1em;
  margin-block-start: 1em;
  padding: 0.5em 1em;
  background: var(--basic-box-background);
  border-left: var(--indent-border-left);

  margin-left: -1em;
  margin-right: -1em;
}

ol,
ul {
  margin-left: 0.5em;
  /*margin-block-end: 1em;*/
  /*margin-block-start: 1em;*/
  padding-inline-start: 1.3em;
}

table {
  display: block;
  border-collapse: collapse;
  margin-left: calc(-1 * var(--main-padding));
  margin-right: calc(-1 * var(--main-padding));
  width: calc(var(--main-inner-width) + 2 * var(--main-padding)) !important;

  thead {
    background: color-mix(in hsl, black, transparent 90%);
  }

  /*tbody {
    display: block;
    max-height: 5em !important;
    overflow-y: auto !important;
  }*/

  th {
    padding: 0.5rem;
    background: var(--basic-box-background);
  }

  td {
    padding: 0.5rem;
    background: var(--basic-box-background);
    vertical-align: top;
  }
}
