.header-info,
.table-of-contents {
  margin-block-end: 1em;
  margin-block-start: 1em;
  padding: 0.5em 1em;
  background: var(--basic-box-background);
  border: var(--popout-border);
}

.definition {
  margin-block-end: 1em;
  margin-block-start: 1em;
  padding: 0.5em 1em;
  background: var(--basic-box-background);
  border-left: var(--indent-border-left);

  &::before {
    content: "Definition";
    text-decoration: underline;
  }
}

/*.preview {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  & > .preview-title {
    display: block;
    word-break: break-all;
    font-weight: bold;
  }

  & > .preview-description {
    display: block;
    word-break: break-all;
  }
}*/

.sidenote {
  @media (width >= 1000px) {
    display: block;
    visibility: visible;

    position: relative;
    display: block;
    float: right;
    clear: right;
    width: calc(
      var(--sidenote-width) - var(--spacing-between-main-and-sidenotes) - 2 *
        var(--main-padding)
    );
    margin-right: calc(-1 * var(--sidenote-width) + var(--main-padding));
    margin-top: -1em;
    margin-bottom: 2em;
    word-break: break-all;
    border: var(--popout-border);
    background: var(--basic-box-background);
    padding: 0.5em 1em;
  }
  @media (width < 1000px) {
    display: none;
    visibility: hidden;
  }

  &.persistent {
    @media (width < 1000px) {
      display: block;
      visibility: visible;
    }
  }
}

.warning {
  padding: 1em;
  border: 0.1em solid red;
  background-color: color-mix(in hsl, white, black 5%);
}

.favicon {
  margin-right: 0.2em;

  aspect-ratio: 1;
  height: 1em;
  width: 1em;
}

.todo {
  padding: 1em;
  background-color: color-mix(in hsl, red, transparent 60%);

  &::before {
    content: "To do";
    text-decoration: underline;
  }
}
