header,
footer {
  flex: 0 0 auto;
  width: 100vw;

  color: white;
  a {
    color: white;
    background: transparent !important;
  }

  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  & > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

    & > .root-title {
      width: 9em;
      text-align: right;
    }

    & > .website-icon {
      height: 2em;
      filter: invert(1);
    }

    & > .local-title {
      width: 9em;
      text-align: left;
    }
  }

  & > .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;

    & > .item {
      width: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      svg {
        aspect-ratio: 1;
        width: auto;
        height: 2em;
      }
    }
  }
}

footer {
  flex-direction: column-reverse;
}
