header,
footer {
  flex: 0 0 auto;

  background: color-mix(in srgb, #cccccc, transparent 30%);

  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  & > .title {
    height: 4em;

    & > .website-icon {
      height: 100%;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  & > .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
}

footer {
  flex-direction: column-reverse;
}
