* {
  box-sizing: border-box;
}

.favicon {
  margin-right: 0.2em;

  aspect-ratio: 1;
  height: 1em;
  width: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  padding: 0;
}

p {
  margin: 0.5em 0;
}

.warning {
  padding: 1em;
  border: 1px solid red;
  background-color: color-mix(in hsl, white, black 5%);
}

content {
  p > img {
    width: 100%;
  }
}

/* -------------------------------------------------------------------------- */

html {
  margin: 0;
  padding: 0;

  /*background: #3f3832;*/
  /*background: #747d7c;*/
  background: #c2baaf;
  /*background: #e4c9ab;*/
  /*background: #f6eee3;*/
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.title-box {
  padding: 1em;

  color: #f6eee3;
  background: #3f3832;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  .title {
    font-size: 1.5em;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .tag {
      padding: 0.1em 0.2em;
      background: #e4c9ab;
      color: black;
    }

    .tag::before {
      content: "#";
    }
  }
}

content {
  padding: 1em;

  max-width: 600px;
  margin: auto;

  background: #e4c9ab;
}

header,
footer {
  padding: 1em;
  background: #3f3832;
  color: #f6eee3;
}
