:root {
  --content-width: 800px;
  --content-main-width: 500px;
  --spacing-between-main-and-sidenotes: 1em;
  --sidenote-width: calc(var(--content-width) - var(--content-main-width));

  --dark-color: #3f3832;
  --light-color: #f6eee3;
  --medium-color: #c2baaf;
  --accent-light-color: #e4c9ab;
}

* {
  box-sizing: border-box;
}

.favicon {
  margin-right: 0.2em;

  aspect-ratio: 1;
  height: 1em;
  width: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  padding: 0;
}

p {
  margin: 0.5em 0;
}

.warning {
  padding: 1em;
  border: 1px solid red;
  background-color: color-mix(in hsl, white, black 5%);
}

content {
  p > img {
    width: 100%;
  }
}

pre {
  padding: 1em;
  background: var(--dark-color);
  color: var(--light-color);
}

blockquote {
  padding: 1em;
  background: var(--dark-color);
  color: var(--light-color);
  border-left: 4px solid var(--accent-light-color);

  & > p {
    margin: 0;
  }
}

/* -------------------------------------------------------------------------- */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.title-box {
  padding: 1em;

  color: var(--light-color);
  background: var(--dark-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  .title {
    font-size: 1.5em;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .tag {
      padding: 0.1em 0.2em;
      background: var(--accent-light-color);
      color: var(--dark-color);
    }

    .tag::before {
      content: "#";
    }
  }
}

content {
  width: var(--content-width);
  margin: 1em auto;

  background: var(--medium-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 0;

  & > .main {
    width: var(--content-main-width);
    padding: 1em;
  }
}

header,
footer {
  padding: 1em;
  background: var(--dark-color);
  color: var(--light-color);
  z-index: 10;
}

.sidenote {
  position: relative;
  display: block;
  float: right;
  clear: right;
  width: calc(
    var(--sidenote-width) - var(--spacing-between-main-and-sidenotes)
  );
  margin-right: calc(-1 * var(--sidenote-width));

  margin-top: -0.5em;
  margin-bottom: 2em;
  padding: 1em;

  color: var(--light-color);
  background: var(--dark-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  & > .preview-title {
    display: block;
    word-break: break-all;
    font-weight: bold;
  }

  & > .preview-description {
    display: block;
    word-break: break-all;
  }
}
