<svg style="display: none; visibility: hidden">
  <defs>
    <filter
      id="body-background-filter"
      color-interpolation-filters="linearRGB"
      filterUnits="objectBoundingBox"
      primitiveUnits="userSpaceOnUse"
    >
      <feTurbulence
        type="fractalNoise"
        baseFrequency="0.035 0.008"
        numOctaves="4"
        seed="2"
        stitchTiles="stitch"
        result="turbulence"
      />
      <feMerge result="merge">
        <feMergeNode in="SourceGraphic" result="mergeNode" />
        <feMergeNode in="turbulence" result="mergeNode1" />
      </feMerge>
      <feColorMatrix
        type="saturate"
        values="10"
        in="merge"
        result="colormatrix"
      />
      <feDisplacementMap
        in="merge"
        in2="colormatrix"
        scale="1"
        xChannelSelector="R"
        yChannelSelector="R"
        result="displacementMap"
      />
      <feComposite
        in="displacementMap"
        in2="SourceAlpha"
        operator="in"
        result="composite1"
      />
    </filter>
  </defs>
</svg>

<div class="body-background"></div>
