<!doctype html>
<html>
  <head>
    <title>${title}</title>
    <link rel="stylesheet" href="${stylesheetHref}" />
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
    ></script>
  </head>
  <body>
    <header>This is the header</header>
    <content>
      <div class="title-box">
        <div class="title">${title}</div>
        <div class="tags">
          ${for(tags)}
          <div class="tag">${it}</div>
          ${endfor}
        </div>
      </div>
      <div class="main">${content}</div>
    </content>
    <footer>This is the footer</footer>
  </body>
</html>
