<!doctype html>
<html>
  <head>
    <title>${title}</title>
    <link rel="stylesheet" href="${stylesheetHref}" />
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
    ></script>
  </head>
  <body>
    ${header.html()}
    <main>
      <div class="title-box">
        <div class="title">${title}</div>
        <div class="tags">
          ${for(tags)}
          ${it:tag.html()}
          ${endfor}
        </div>
      </div>
      <div class="main">${content}</div>
    </main>
    ${footer.html()}
  </body>
</html>
